
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$games-primary: mat-palette($mat-indigo);
$games-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$games-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$games-theme: mat-light-theme($games-primary, $games-accent, $games-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($games-theme);

/* You can add global styles to this file, and also import other style files */

$primary-color: #795548;
$secondary-color: #6c0c22;
$accent-color: #486c79;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

thirty-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  display: flex; 
  justify-content: space-between;
  background-color: $secondary-color;
}

.subtitle {
  font-size: 75%;
}

mat-sidenav {
  width: auto;
  background-color: $primary-color !important;
  border-radius: 5px;
  text-align: center;
}

.content-spread {
  display: flex;
  justify-content: space-between;
}

.accent {
  color: $accent-color;
}

.mat-sidenav-container {
  flex: 1;
  border-radius: 0px 0px 20px 0px;
  background-color: $secondary-color;
}

.games-containers {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  border-radius: 8px;

  .games-list {
    width: 49%;
  }

  .games-detail {
    width: 49%;
  }

  .mat-card-dark {
    background-color: grey;
  }
  .mat-card-light {
    background-color: whitesmoke;
  }
}